body {
    background-color: #F5DDC5;
    display: flex;
    flex-direction: column;
    font-family: "DM Serif Display", serif;
    color: #226458;
}

header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
    height: 20%;

    background-color: #B8AE59;
    box-shadow: 1px 5px 11px #918946;
}

.lista-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #226458;
    gap: 35px;
}

.lista-header a {
    text-decoration: none;
    color: #226458;
    text-decoration: underline;
}

.list-content {
    transition: transform 0.2s ease;
}

.list-content:hover {
    transform: scale(1.1);
}

.name-nav {
    display: flex;
    flex-direction: column;
}

.name-nav img {
    color: #F5DDC5;
}

.container-feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 9% 0%;
}

.nav-feed {
    padding: 0% 0% 4%;
    font-family: "Quicksand", sans-serif;
}

.nav-feed p {
    padding: 0% 0% 1% 0%;
    font-size: 27px;
    font-weight: bold;
}

.line-inicial {
    border: 2px solid #226458;
}

.identificacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 3% 0% 0% 0%;
}

.nome-livro {
    width: 50%;
}

.resenha {
    align-items: flex-end;
}

.nome-livro h3 {
    font-size: 35px;
    font-weight: lighter;
}

.nome-livro h4 {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
}

.nome-usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

.identificacao-texto {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Quicksand", sans-serif;
}

.texto h5 {
    font-size: 20px;
    font-weight: 600px;
}

.texto h6 {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
}

.forma-botao {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 200;
    background-color: #E5DB8D;
    border-radius: 8px;
    color: #226458;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    padding: 13px;
    width: 41%;
    height: 50%;
}

.conteudo-botao {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.conteudo-botao img {
    display: flex;
    align-items: center;
    width: 18%;
    height: auto;
}

.forma-resenha p {
    font-family: "Quicksand", sans-serif;
    padding: 5% 0%;
}

.line {
    border: 1px solid #226458;
}

.capa-livro img {
    width: 246px;
    height: 368px;

    background: url(image.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    flex: none;
    order: 0;
    flex-grow: 0;

}