main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 5% 9% 0%;
}

.container {
    background: #226458;
    border-radius: 8px;
    display: flex;
}

.apresentacao {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 76vh;
    padding: 7%;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 66%;
}

.forma-titulo {
    display: flex;
    color: #B8AE59;
}

.forma-titulo h1 {
    font-weight: 500;
}

.forma-texto {
    color: #F3DDC5;
    font-family: "Quicksand", sans-serif;
    padding: 6% 0% 0%;
    width: 69%;
    line-height: 1.6;
}

.forma-botao {
    background-color: #B8AE59;
    display: flex;
    justify-content: center;
    width: 13%;
    border-radius: 8px;
    padding: 2%;
    height: 15%;
    width: 27%;
    margin: 6% 0%;

    box-shadow: 0px 3.33042px 3.33042px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.forma-botao button {
    all: unset;
}

.quadrado2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21%;
}

.titulo-poema {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.forma-poema {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.forma-poema {
    color: #B8AE59;
}

h2 {
    color: #B8AE59;
    font-weight: lighter;
}

h3 {
    color: #F3DDC5;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.forma-poema p {
    color: #F3DDC5;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;

}

.forma-botao:hover {
    transform: scale(1.05);
}

.passo-a-passo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 74vh;
}

.instrucoes {
    height: 76vh;
    display: flex;
    flex-direction: row;
    padding: 7%;
    justify-content: flex-start;
}

.caixa-instrucao {
    height: 50%;
    height: 39%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 0% 8% 0%;
    width: 90%;
}

.caixa-instrucao h1 {
    color: #F3DDC5;
}

.caixa-instrucao p {
    color: #F3DDC5;
    font-family: "Quicksand", sans-serif;
    width: 90%;
    line-height: 1.6;

}

.forma-num {
    background: #E5DB8D;
    margin: 0% 3% 3%;
    border-radius: 50px;
    width: 8%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #226458;
}

.forma-num h1 {
    font-family: "Quicksand", sans-serif;
    color: #226458;
    font-weight: 500;
}

.linha3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    margin: -9% 4%;
}


.select {
    background-color: #E5DB8D;
    color: #226458;
    display: flex;
    justify-content: center;
    width: 13%;
    border-radius: 8px;
    padding: 2%;
    height: 15%;
    width: 35%;
    margin: 6% 0%;

    font-family: "Quicksand", sans-serif;

    box-shadow: 0px 3.33042px 3.33042px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.quadro1 {
    margin: -9% 4%;
}

.jogo {
    display: flex;
    flex-direction: column;
    height: 76vh;
    width: 100%;
    padding: 2%;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E5DB8D;
}

.descricao p {
    font-weight: bold;

}

.forma-palavra {
    background-color: #E5DB8D;
    color: #226458;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 1%;

    box-shadow: 0px 3.33042px 3.33042px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.forma-palavra p {
    font-weight: 500;
    font-size: 19px;
}

.forma-input {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

textarea {
    all: unset;
    display: flex;
    background-color: #F4E0BA;
    border-radius: 12px;
    height: 51vh;
    padding: 3% 5%;

    font-family: "Quicksand", sans-serif;
    font-weight: 600;

    box-shadow: 0px 3.33042px 3.33042px rgba(0, 0, 0, 0.25);
}

.coluna1-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.coluna1-input p {
    text-decoration: none;
    color: #B8AE59;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: -10px;
    z-index: 1;
}

.resultado {
    display: flex;
    flex-direction: column;
    height: 76vh;
    width: 100%;
    padding: 2%;
}

.forma-resultado {
    height: 69vh;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.forma-resultado h1 {
    color: #B8AE59;
    display: flex;
    font-weight: 400;
    font-size: 36px;
}

.resultados {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    height: 62vh;
}

.forma-resultado-coluna {
    border-radius: 8px;
    border: solid #B8AE59 1px;
    height: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma-resultado-coluna h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: -8% 0% 0% 0%;
    color: #E5DB8D;
}

.forma-palavra-resultado {
    background-color: #E5DB8D;
    color: #226458;
    display: flex;
    justify-content: center;
    width: 13%;
    border-radius: 8px;
    padding: 2%;
    height: 15%;
    width: 70%;
    margin: 3% 0%;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0px 3.33042px 3.33042px rgba(0, 0, 0, 0.25);
    align-items: center;
    font-size: 24px;
    font-weight: 400;
}

.ps {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.forma-resultado-coluna p {
    text-decoration: none;
    color: #F4E0BA;
    margin: 6%;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}