.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5% 7% 0%;
    gap: 3%;
}

.capa-livro {
    display: flex;
    justify-content: center;
}

.forma-livro {
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    border: 1px solid #B8AE59;
    border-radius: 18px;
    width: 376px;
    height: 527px;
}

.capa-livro img {
    width: 316px;
}

.informacoes-livro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 51%;
}

.identificacao {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.nome-livro {}

.nome-livro h3 {
    font-size: 35px;
    font-weight: lighter;
}

.nome-livro h4 {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
}

.resenha-editar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.resenha-editar h3 {
    font-size: 27px;
    font-weight: lighter;
    margin: -40px 4px;
}

.botoes-editar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -4% -2%;
}

.forma-botao-deletar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5DB8D;
    border-radius: 8px;
    width: 85px;
    border: none;
    padding: 13px;

    font-family: "Quicksand", sans-serif;
    color: #226458;

    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    height: 30px;
}

.button {
    all: unset;
}

.resenha-editar img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: auto;
    margin: 6px;
}

.margem-resenha {
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    border: 1px solid #B8AE59;
}

.margem-resenha p {
    display: flex;
    font-family: "Quicksand", sans-serif;
    margin: 20px 20px;
}

.indicacoes-livro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
}

.forma-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 23%;
    background-color: #B8AE59;


    box-shadow: 1px 3px 11px #918946;
}

.forma-informacoes h6 {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
}

.forma-informacoes p {
    font-size: 20px;
    font-weight: 500;
}

.convite {
    display: flex;
    align-items: flex-end;

    width: 18%
}

.forma-convite {
    display: flex;
    justify-content: flex-end;
    height: 52%;
    width: 100%;
    padding: 8%;
    background-color: #E5DB8D;

    box-shadow: 0px 0.885947px 0.885947px rgba(0, 0, 0, 0.25);
    transition: background 0.3s ease, color 0.3s ease;
}

.forma-convite:hover {
    background: #226458;
    color: #E5DB8D;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.forma-convite p {
    font-family: "Quicksand", sans-serif;
    color: #226458;
    font-size: 38px;
}