body {
    background-color: #B8AE59;
    display: flex;
    flex-direction: column;
    font-family: "DM Serif Display", serif;
    color: #226458;
    background-image: url(../assets/movie/Fundo_Login_.gif);
}

main {
    align-items: center;
}

button {
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    background-color: #226458;
    border-radius: 8px;
    color: #E0C5BF;
    border: none;
    padding: 2%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    padding: 10vh;

}

.cadastro-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 80vh;
    padding: 1%;
    height: 70%;
}

.span-input {
    display: flex;
    flex-direction: column;
    gap: 0;
    display: flex;
}

.span-input input {
    width: 93%;
    padding: 1% 4%;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    margin: 0% 0% 3% 0%;
}

.input-padrao {
    border-radius: 8px;
    background-color: #F5DDC5;
    outline: none;
    box-shadow: 1px 3px 11px #918946;
}

.forma-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 5%;
    border-radius: 8px;
    border: solid 0.3px #22645870;
    background-color: #B8AE59;


    box-shadow: 1px 3px 11px #918946;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-container button {
    width: 30%;
}

.span-input span {
    line-height: 2.2vh;
    margin: 0px 8px;
    font-size: 21px;
}

.span-input input {
    height: 5.5vh;
}

.cadastro-card h1 {
    line-height: 0.7;
    margin: 0% 6%;
    font-weight: 11;
    font-size: 40px;
}

.forma-input a {
    justify-content: center;
    align-items: center;
    color: #226458;
}

.link-cadastro {
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    margin: 0% 0% -1%;
}

.link-cadastro a {
    padding: 0% 1%;

}